body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #e5e5e5;
}

.navbar {
  z-index: 2;
}
.navbar-custom .navbar-brand {
  color: #739dc3;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
}
.navbar-brand:hover {
  color: #739dc3;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: #b8b8b8;
}

.hero-img {
  height: 750px;
}

.circle-bg {
  background-color: black;
  width: 900px;
  height: 700px;
  opacity: 0.5;
  border-radius: 100%;
  position: absolute;
  bottom: 50px;
  left: -200px;
  z-index: 1;
}
.title-hero {
  z-index: 3;
  position: absolute;
  bottom: 250px;
}

.title-item {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: white;
}

.subtitle-item {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.content-card {
  background-color: white;
  border-radius: 50px;
  width: 100%;
  height: 2500px;
  z-index: 4;
  margin-top: -100px;
  margin-bottom: 50px;
}

.about-item {
  padding-left: 10px;
  padding-right: 10px;
}
.about-text {
  margin-top: 200px;
}

.about-img {
  margin-top: 200px;
  width: 600px;
  height: 400px;

  /* padding-right: 10px; */
}

.about-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #73233c;
}

.about-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.structure-board {
  margin-top: 150px;
  background-color: #f6d5cf;
  width: 100%;
  height: 900px;
}

.structure-title,
.article-main-title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #73233c;
  margin-top: 80px;
}

.arrow {
  margin-top: -20px;
  margin-bottom: 50px;
}

.card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #6e7491;
}

.card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #7c8d80;
}

.btn-card {
  width: 120px;
  height: 40px;
  border-radius: 7px;
  background-color: #495866;
  /* display: flex;
  align-items: center; */
}

.btn-card:hover {
  background-color: #647a8f;
}

@media (max-width: 767.98px) {
  .chart {
    display: none;
  }
}
